/* desarrollado por Luis castiblanco */
.resolucion{
    width: 99%;
}

@media (min-width:500px) and (max-width:1199px){
    .desktop{
        display: none;
    }
    .laptop{
        display: none;
    }
    .pantallas_grandes{
        display: none;
    }
    body {
        background-color: #F3F5FC;
    }
    .text{
        margin-top: 10em;
        font-size: 4em;
        font-family: 'Oswald', sans-serif;
        text-align: center;
    }
    #imagen{
        display: flex;
        width: 100%;
        height:100%;
        margin-left: 7em;
        padding-top: 7em;
        padding-bottom: 9em;
    }
}

@media (min-width:1200px) and (max-width:1600px){
    .movil{
        display: none;
    }
    .desktop{
        display: none;
    }
    .pantallas_grandes{
        display: none;
    }
    body {
        background-color: #F3F5FC;
    }
    
    .logo {
        margin-top: 2%;
        margin-left: 2%;
    }
    .entrada{
        margin-left: 12%;
        margin-top: 3%;
    }
    .text{
        font-family: 'Oswald', sans-serif;
    }
    #texto_entrada-p{
        outline: none;
        border: none;
        background-color: transparent;
        padding: 0;
        font-size: 1.87em;
        width: 18em;
        height: 16em;
    }
    ::placeholder {
        color: #0a3871;
    }
    
    .rectangulo {
        position: absolute;
        width: 30em;
        height: 46em;
        left: 59%;
        top: 4%;
        bottom: 4%;
        background: #fff;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 2em;
    }
        
    #contenido-p {
        display: none;
    }
        
    .muneco {
        position: absolute;
        width: 21.6em;
        height: 19.2em;
        left: 3.33em;
        top: 13.33em;
    }
        
    .advisor {
        width: 20em;
        height: 2.53em;
        margin-left: 7%;
    }
        
    #recomendacion {
        text-align: center;
        font-size: 1.125em;
    }
        
    #vacio-p {
        height: auto;
        text-align: center;
        margin-top: 34.67em;
        display: block;
    }
        
    .resultado {
        width: 30em;
        height: 33em;
    }
        
    #texto_vacio {
        font-weight: bold;
        font-size: 1.25em;
    }
        
    #texto_sugerencia {
        font-size: 0.9375em;
    }
        
    #texto_resultado-p {
        text-align: center;
        font-size: 1.25em;
        padding: 1.25em;
    }
        
    .buttons {
        position: absolute;
        display: flex;
        align-items: center;
        margin-left: 10%;
    }
        
    .encriptar {
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 1.5em;
        gap: 0.5em;
        width: 20.5em;
        height: 4.467em;
        border-radius: 1.5em;
        flex: none;
        flex-grow: 0;
        color: #fff;
        background: #0A3871;
    }
        
    .desencriptar {
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 1.5em;
        gap: 0.5em;
        width: 20.5em;
        height: 4.467em;
        border-radius: 1.5em;
        flex: none;
        flex-grow: 0;
        color: #0A3871;
        background: #ffff;
        border: 0.067em solid #0A3871;
        margin-left: 7%;
    }
        
    .copiar {
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 0.5em;
        width: 20.5em;
        height: 4.467em;
        border-radius: 1.5em;
        flex: none;
        flex-grow: 0;
        color: #0A3871;
        background: #ffff;
        border: 0.067em solid #0A3871;
        margin-top: 6em;
        margin-left: 3.5em;
    }
}

@media (min-width:1601px) and (max-width:1920px){
    .movil{
        display: none;
    }
    .laptop{
        display: none;
    }
    .pantallas_grandes{
        display: none;
    }
    body {
        background-color: #F3F5FC;
    }
    
    .logo {
        margin-top: 2%;
        margin-left: 2%;
    }
    .entrada{
        margin-left: 17%;
        margin-top: 3%;
    }
    .text{
        font-family: 'Oswald', sans-serif;
    }
    #texto_entrada-d{
        outline: none;
        border: none;
        background-color: transparent;
        padding: 0;
        font-size: 1.87em;
        width: 20em;
        height: 17em;
    }
    ::placeholder {
        color: #0a3871;
    }
    .rectangulo {
        position: absolute;
        width: 30em;
        height: 49em;
        left: 66%;
        top: 4%;
        bottom: 2%;
        background: #fff;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 2em;
        }
        
    #contenido-d {
        display: none;
        }
        
    .muneco {
        position: absolute;
        width: 21.6em;
        height: 19.2em;
        left: 3.33em;
        top: 13.33em;
        }
        
    .advisor {
        width: 20em;
        height: 2.53em;
        margin-left: 15%;
        }
        
    #recomendacion {
        text-align: center;
        font-size: 1.125em;
        }
        
    #vacio-d {
        height: auto;
        text-align: center;
        margin-top: 34.67em;
        display: block;
        }
        
    .resultado {
        width: 30em;
        height: 40em;
        }
        
    #texto_vacio {
        font-weight: bold;
        font-size: 1.25em;
        }
        
    #texto_sugerencia {
        font-size: 0.9375em;
        }
        
    #texto_resultado-d {
        text-align: center;
        font-size: 1em;
        padding: 1.25em;
        }
        
    .buttons {
        position: absolute;
        display: flex;
        align-items: center;
        margin-left: 17%;
        }
        
    .encriptar {
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 1.5em;
        gap: 0.5em;
        width: 20.5em;
        height: 4.467em;
        border-radius: 1.5em;
        flex: none;
        flex-grow: 0;
        color: #fff;
        background: #0A3871;
        margin-top: 1em;
        }
        
    .desencriptar {
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 1.5em;
        gap: 0.5em;
        width: 20.5em;
        height: 4.467em;
        border-radius: 1.5em;
        flex: none;
        flex-grow: 0;
        color: #0A3871;
        background: #ffff;
        border: 0.067em solid #0A3871;
        margin-left: 1.167em;
        margin-top: 1em;
        }
        
    .copiar {
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 1.5em;
        gap: 0.5em;
        width: 20.5em;
        height: 4.467em;
        border-radius: 1.5em;
        flex: none;
        flex-grow: 0;
        color: #0A3871;
        background: #ffff;
        border: 0.067em solid #0A3871;
        margin-left: 0.8em;
        margin-top: 1.5em;
        }
}
@media (min-width:1921px){
    .movil{
        display: none;
    }
    .desktop{
        display: none;
    }
    .laptop{
        display: none;
    }
    body {
        background-color: #F3F5FC;
    }
    .text{
        margin-top: 2em;
        font-size: 4em;
        font-family: 'Oswald', sans-serif;
        text-align: center;
    }
    #imagen{
        display: flex;
        width: 80%;
        height:80%;
        margin-left: 15em;
        padding-top: 2em;
        padding-bottom: 9em;
    }
}
/* desarrollado por Luis castiblanco */
